# Permet d'exécuter des scripts Python depuis un jupyter notebook
ipykernel
# Bibliothèque pour la manipulation et l'analyse de données
pandas
# Bibliothèque pour dessiner des graphiques
matplotlib
streamlit